/* body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(#ff5d71, #eb3349);
  background-repeat: no-repeat;
  display: grid;
  place-items: center center;
} */

body {
  background: rgb(31, 55, 86);
  background: radial-gradient(
    circle,
    rgba(31, 55, 86, 1) 0%,
    rgba(20, 21, 57, 1) 100%
  );
  color: #fff;
}
